<html>
    <head>
    </head>
    <body>
        
        
        <div class="messengerWrapper">
            <div class="contacts" *ngFor="let follower of userFollowers">
                <div #contact class="messenger-contacts" id={{follower._id}} (click)="showChatBox(contact, chatBox, defaultMsg)">
                    <img class='userPfp' src={{follower.profilePicture}}>  
                    <p class="username">{{follower.username}}</p> 
                </div>   
            </div>


        </div>
    
        <div class="message-user" #chatBox>
            <div class="contact-info" >
                <img class='userPfp' src={{contactData.profilePicture}}>  
                <p class="username">{{contactData.username}}</p>
            </div>
            <hr>
            <div class="messageInteraction" >
                <div class="messages" *ngFor="let msg of messages">
                    <!-- <p>From: {{senderName}}</p> -->
                    <p>{{msg.Content}}</p>
                </div>
                <textarea class="message-input" #msgBox></textarea>
                <span class="sendBtn" (click)="sendMsg(msgBox)"> <i class="bi bi-send"></i></span>
            </div>
    
    
        </div>

        <div class="messenger-default-message" #defaultMsg>
            <p>Click on a user and start chatting with them</p>
        </div>
    </body>
    
    
</html>
