<html>
    <head>
    </head>
    <body>
        
        
        <div class="messengerWrapper">
            <div class="contacts">
                <div class="messenger-contacts ">
                    <i class="bi bi-person-circle"></i>   
                    <p>Username</p> 
                </div>   
                <div class="messenger-contacts ">
                    <i class="bi bi-person-circle"></i>   
                    <p>Username</p> 
                </div>   
                <div class="messenger-contacts ">
                    <i class="bi bi-person-circle"></i>   
                    <p>Username</p> 
                </div>   
            </div>
        </div>
    
        <div class="message-user">
            <div class="contact-info">
                <i class="bi bi-person-circle"></i>   
                <p class="username">Username</p>
            </div>
            <hr>
            <div class="messageInteraction">
                <textarea class="message-input"></textarea>
                <span class="sendBtn"> <i class="bi bi-send"></i></span>
            </div>
    
    
        </div>
    </body>
    
    
</html>
