$hover-color: #e8e5e7;

.messengerWrapper{
    display: inline-block;
    float: left;
    width: 20%;
    border-right-style: solid;
    height: 95vh;
    .contacts{
        display: block;
        font-size: x-large;
        .messenger-contacts{
            display: flex;

            margin-top: 0.5%;

            &:hover{
                background-color: $hover-color;
                cursor: pointer;
            }
        }
    }
}
.message-user{
    float: left;
    // border-style: solid;
    // margin-left: 15%;
    display: none;
    width: 80%;
    margin-bottom: 0%;
    .contact-info{
        display: flex;
        font-size: x-large;

    }

    .messageInteraction{
        .message-input{
            position: absolute;
            bottom:0;
            width: 76%;
    
    
            border-radius: 4px !important;
            font-size: medium;
            transition: 0.05s linear;
            resize: none;
    
            border-left: none;
            border-top: none;
            border-right: none;
    
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            
        }
        .sendBtn{
            width: 4%;
            position: absolute;
            bottom: 0;
            right:0;
            border-radius: 4px;
            height: 70px;
            font-size: 3rem;
            .bi{
                margin-left: 15% !important;
            }
            &:hover{
                cursor: pointer;
                background-color: $hover-color;
            }
            &:active{
                background-color: #2568fb;
                color: orange;
            }
        }
    }
    
}
.userPfp{
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
.username
{
    margin-top: 1%;
    margin-left: 1%;
}
.userSent{
    text-align: right;
    background-color: #2568fb;
    color: white;
    width: 25%;
    margin-left: 74%;
}
.userReceived{

    text-align: right;
    background-color: #2568fb;
    color: white;
    width: 25%;
    margin-right: 74%;

}
.chatbox{
    overflow: auto;
    height: 75vh;
    .messages{

    }
}