

<div class="messengerWrapper">
    <div class="contacts">
        <div class="messenger-contacts ">
            <i class="bi bi-person-circle"></i>   
            <p>Username</p> 
        </div>   
        <div class="messenger-contacts ">
            <i class="bi bi-person-circle"></i>   
            <p>Username</p> 
        </div>   
        <div class="messenger-contacts ">
            <i class="bi bi-person-circle"></i>   
            <p>Username</p> 
        </div>   
    </div>
</div>

<div class="message-user">
    <p>HEHEHE</p>
</div>

