<html>
    <head>
        <title>
            
        </title>
    </head>
    <body>
        <div class="ErrorWrapper">
            <div class="Error">
                <p class="Code"> 404 </p>
                <p class="Message">PAGE NOT FOUND</p>
                <p class="subMessage">
                    It seems like the page you're looking for doesn't exist.
                </p>
                <a class = 'homePageLink' href="/">HOMEPAGE</a>
            </div>
        </div>

    </body>
</html>