$hover-color: #e8e5e7;
$color-top: #2568fb;
$color-bottom: #fecd45;

.navbar{
    background-color: $color-top !important;
    font-size: large;
    .nav-link{
        color: $color-bottom !important;
    }
    .navbar-brand{
        color: $color-bottom !important;
        font-weight: bold;
    }
    .profileLink{
        position:absolute;
        right:30px;
        display: flex;
        top: 5px;
        .profileIconsWrapper{
            display: flex;
            margin-top: 5%;
            .bi{
                margin-left: 10%;
                color: white;
                font-size: larger;
                cursor: pointer;
            }
        }
    }
    .input-group-text{
        border-radius: 4px;
        background-color: white;
        border-color: white;
        &:hover{
            background-color: $hover-color;
            cursor: pointer;
        }
    }
    .searchBar{
        border-color: white;
    }

}
.usernamePfp{
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
.dropdown-menu{
    top: 40px !important;
    left: -110px !important;
    .bi{
        color: black !important;
    }
    &:hover{
        cursor: pointer;
    }

}
.dropdown-toggle:after 
{ 
    content: none 
}