$hover-color: #e8e5e7;
$color-top: #2568fb;
$color-bottom: #fecd45;

.navbar{
    background-color: $color-top !important;
    font-size: large;
    .nav-link{
        color: $color-bottom !important;
    }
    .navbar-brand{
        color: $color-bottom !important;
        font-weight: bold;
    }
    .profileLink{
        position:absolute;
        right:0;
    }
    .input-group-text{
        border-radius: 4px;
        background-color: white;
        border-color: white;
        &:hover{
            background-color: $hover-color;
            cursor: pointer;
        }
    }
    .searchBar{
        border-color: white;
    }
    .navbar-brand{
        // border-style: solid;
        // border-radius: 50%;
        // height:40px;
        // height:40px;
    }
}