<html>
  <head>
    <title>
      
    </title>
  </head>
  <body>
    <div class="container d-flex align-items-center justify-content-center">
        <form #formData >

            <p>ProgBridge</p>
            <hr/>
            <div class="form-group was-validated form-floating">
              <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp" placeholder="Enter username" required>
              <label for="username">Username</label>
            </div>
            <div class="form-group was-validated form-floating">
              <input type="password" name="password" class="form-control" id="pass" placeholder="Enter password" required>
              <label for="pass">Password</label>
            </div>
    
            <button (click)='loginUser(formData)' type="button" class="btn btn-primary btn-lg">Login</button>
          </form>
          <a class="noAccount" href="/register">Don't have an account? Sign up here.</a>

    </div>
  </body>
</html>