.suggestionsWrapper{
    .card{
        width:9%;
        display: inline-block;
        margin-left: 2%;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        text-align: center;

        &:hover{
            background-color: rgb(230, 230, 230);

            cursor: pointer;
        }
        .btn{
            margin-bottom: 20px;
            &:hover{
                transition: none;
            }
        }

        .userPfp{
            width: 168px;
            height: 168px;
            padding: 20px;
        }
        .username{
            text-align: center;
            font-size: 1.6rem;;
        }
        .profileLink{
            text-decoration: none;
            color: black;
        }
    }
}