<div class="suggestionsWrapper">
    <div class="card" *ngFor="let user of unfollowedUsers">
        <a href="/profile/{{user._id}}" class="profileLink">
            <div class="userWrapper" id="{{user._id}}">
                <img class="userPfp" src="{{user.profilePicture}}">
                <p class="username">{{user.username}}</p>
            </div>
        </a>
        <button class="btn btn-md btn-primary" (click)="FollowUser(user)"> <i class="bi bi-person-plus-fill"></i> Follow </button>
    </div>
</div>