<html>
  <head>
    <title>
      
    </title>
  </head>
    <body >
        <div class="profilePageWrapper">
            <div class="imageLink card" #uploadImageContainer>
                <input class="form-control" type="text" #ImageInput>
                <button class="btn btn-lg btn-primary" (click)="changePFP(userData._id, ImageInput.value)">Update image</button>
            </div>
            <div class="profileHeader">
                <img class="userPfp" src={{userData.profilePicture}}>     
                <i class="bi bi-camera" *ngIf='isOwner' (click) = 'showChangePFP(uploadImageContainer)'></i>         
                <p class="username">{{userData.username}}</p>
                <hr>
                <div class="profileNavigation">
                    <span class="friends "  (click)="showFriends(FriendsList, PostsList, SharedList)">
                        <p>Friends</p>
                    </span>
                    <span class="posts" (click)="showPosts(FriendsList, PostsList,SharedList)">
                        <p>Feed</p>
                    </span>
                    <span class="posts" (click)="showShared(FriendsList, PostsList, SharedList)">
                        <p>Shared</p>
                    </span>
                    <span class="about">
                        <p>About</p>
                    </span>
                </div>
                <div class="FriendsList" #FriendsList >
                    <div class="Friend">
                        <i class="bi bi-person-circle"></i>
                        <p class="FriendName"> Friend Name </p>
                    </div>
                    <div class="Friend">
                        <i class="bi bi-person-circle"></i>
                        <p class="FriendName"> Friend Name </p>
                    </div>
                    <div class="Friend">
                        <i class="bi bi-person-circle"></i>
                        <p class="FriendName"> Friend Name </p>
                    </div>
                    <div class="Friend">
                        <i class="bi bi-person-circle"></i>
                        <p class="FriendName"> Friend Name </p>
                    </div>
                    <div class="Friend">
                        <i class="bi bi-person-circle"></i>
                        <p class="FriendName"> Friend Name </p>
                    </div>
                </div>

                <div class="userPostsList"style="display: none" #PostsList >
                    <div class="card" *ngFor="let post of allUserPosts.posts" id="{{post._id}}" #card>
                        <div class="usernamePostSection" > 
                          <div ngbDropdown>
                             <a href="/profile/{{post.Author}}" class="profileLink "> {{allUserPosts.username}}  </a>    
                             <i class="bi bi-three-dots" ngbDropdownToggle *ngIf="post.Author == userData._id"></i>  
                             <div ngbDropdownMenu>
                               <a ngbDropdownItem > <i class="bi bi-trash-fill"></i> Delete </a>
                               <a ngbDropdownItem> <i class="bi bi-pencil-fill"></i> Edit </a>
             
                             </div>
                        </div>
                       </div> 
                         <div class="card-body">
                           <p class="card-text">{{post.Content}}</p>
                         </div>
                     </div>
                </div>
                <div class="SharedPostsList"style="display: none" #SharedList >
                    <div class="card" *ngFor="let post of allUserPosts.shares" id="{{post._id}}" #card>
                        <div class="usernamePostSection" > 
                          <div ngbDropdown>
                             <a href="/profile/{{post.Author}}" class="profileLink "> {{post.Author}}  </a>    
                             <i class="bi bi-three-dots" ngbDropdownToggle *ngIf="post.Author == userData._id"></i>  
                             <div ngbDropdownMenu>
                               <a ngbDropdownItem > <i class="bi bi-trash-fill"></i> Delete </a>
                               <a ngbDropdownItem> <i class="bi bi-pencil-fill"></i> Edit </a>
             
                             </div>
                        </div>
                       </div> 
                         <div class="card-body">
                           <p class="card-text">{{post.Content}}</p>
                         </div>
                     </div>
                </div>
            </div>
            <div class="profileDetails">

            </div>
        </div>
    </body>
</html>
