$hover-color: #e8e5e7;
$post-field-color: #faf6f6;
body{
    background-color: #f0eff0 !important;
    width: 100%;
    height: 100vh;
    margin: 0px;
}

.HomeWrapper{
    display: block;
    margin-left: 35%;
    // padding-top: 2%;
    .card{
        text-align: left;
        margin-bottom: 0.5%;
        width: 30rem !important;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);

        .commentsWrapper{
            .addComment{
                padding-left: 10%;
                padding-right: 10%;
                margin-top: 2%;
                margin-bottom: 1.5%;

                display: flex;
                word-break: break-all;
                .makeCommentButton{
                    // position: absolute;
                    // right: 60px;
                    color: #2568fb;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .commentField{
                    border-radius: 4px !important;
                    font-size: medium;
                    background-color: $post-field-color;
                    transition: 0.05s linear;
                    height: 25px;
                    border-radius: 50%;
                    padding-left: 12px;
                    resize: none;
                    
            
                    &:hover{
                        background-color: $hover-color;
                        transition: 0.05s linear;
            
                    }
                }
            }
            .Comment{
                display: flex;
                .userData{
                    display: flex;
                    padding-left: 10px;
                    padding-right: 10px;
                    .userImage{
                        float: left;
                        font-size: 1.3rem;
                        width: 32px;
                        height: 32px;
                    }
                    
                }
        
                .userComment{
                    display: block;
                    float: left;
        
        
                    .commentArea{
                        background-color: #F2F3F5;
                        border-radius: 10px;
                        text-align: left;
                        padding-bottom: 1px;
                        word-break: break-all;

                        .userCommentAuthor{
                            margin-bottom: -10px;
                            padding-left: 10px;
                            font-weight: bold;
                            text-decoration: none;
                            color: black;
                        }
                        .commentContent{
                            padding-top: 15px;
                            padding-left: 10px;
                            padding-right: 10px;
                            font-size: .9375rem;
                        }
                    }
            }
    
                .commentInteractButtons{
                    display: flex;
                    font-size: 13px;
                    font-weight: bold;
                    .commentReplyButton{
                        margin-left: 25px;
                        color: #656765 !important;
                        text-decoration: none;
    
                    }
                    .commentLikeButton{
                        color: #656765 !important;
                        text-decoration: none;
                        margin-left: 5px;
    
                    }
                }
            }
        }

        .dropdown-toggle:after 
        { 
            content: none 
        }
        
        .profileLink{
            text-decoration: none;
            color: #212529;
        }
        .usernamePostSection{
            display: flex;
            margin:10px;    
            .bi-three-dots{
                position: absolute;
                left: 430px;
                &:hover{
                    cursor: pointer;
                }
            }
            a{
                cursor: pointer;
            }

        }
        .postInteractionButtons{
            margin-top: -4%;
            padding: 8px;
            display: flex;
            justify-content: center;
            .bi-chat-left, .bi-hand-thumbs-up, .bi-share{
                margin-right: 4%;
                margin-left: 25%;
            }
            .bi-chat-left{
                margin-left: 15%;
            }
            .commentSection{
                width: 100%;
                border-radius: 4px;
                padding: 10px;
                display: flex;
                transition: 0.05s linear;

                &:hover{
                    background-color: $hover-color;
                    cursor: pointer;
                    transition: 0.05s linear;

                }
            }
            .like{
                width: 100%;
                border-radius: 4px;
                padding: 10px;
                display: flex;
                transition: 0.05s linear;

                &:hover{
                    
                    background-color: $hover-color;
                    cursor: pointer;
                    transition: 0.05s linear;


                }
            }
            .share{
                width: 100%;
                border-radius: 4px;
                padding: 10px;
                text-align: center;
                display: flex;
                transition: 0.05s linear;


                &:hover{
                    background-color: $hover-color;
                    cursor: pointer;
                    transition: 0.05s linear;


                }
            }
        }
    }
}
.postWrapper{

    .postField{
        border-radius: 4px !important;
        font-size: larger;
        background-color: $post-field-color;
        transition: 0.05s linear;
        height: 12px;
        resize: none;

        &:hover{
            background-color: $hover-color;
            transition: 0.05s linear;

        }
    }

    .postButton{
        margin-top: -5% !important;
        width: 100%;
    }
    .username{
        text-align: left;
    }
    .charactersCounter{
        text-align: left;
    }
}
.postOwner{
    text-align: left;
    margin: 5%;
}