<html>
  <head>
    <title>
      
    </title>
  </head>
    <body>
        <div class="HomeWrapper">
          <div class="makePost" *ngIf="isUser">
            <div class="card postWrapper">
              <div class="card-body" *ngFor="let userData of isUser">
                <textarea class='form-control postField' 
                          #postArea
                          (keyup) = "keyup(postArea)"
                          (click) = "clearTextArea(postArea)"
                          placeholder="Got a question, {{userData.username}}?"
                          value = ''  
                          data-toggle="modal" 
                          data-target="#exampleModal" 
                          maxlength="120">
                </textarea>
                <p class="charactersCounter text-muted">Characters left: {{charactersLeft}}</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <hr>
            <div class="postInteractionButtons">
              <div class="commentSection">
                <i class="bi bi-chat-left"></i> <span>Comments</span>
              </div>
              <div class="like">
                <i class="bi bi-hand-thumbs-up"></i>  <span>Like</span>
              </div>
              <div class="share">
                <i class="bi bi-share"></i>  <span>Share</span>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <hr>
            <div class="postInteractionButtons">
              <div class="commentSection">
                <i class="bi bi-chat-left"></i> <span>Comments</span>
              </div>
              <div class="like">
                <i class="bi bi-hand-thumbs-up"></i>  <span>Like</span>
              </div>
              <div class="share">
                <i class="bi bi-share"></i>  <span>Share</span>
              </div>
            </div>
          </div>



        </div>

    </body>
</html>