<html>
  <head>
    <title>
      
    </title>
  </head>
    <body>
        <div class="HomeWrapper">
          <div class="makePost" *ngIf="isUser">
            <div class="card postWrapper">
              <div class="card-body" *ngFor="let userData of isUser">
                <textarea class='form-control postField' 
                          #postArea
                          (keyup) = "keyup(postArea)"
                          (click) = "clearTextArea(postArea)"
                          placeholder="Got a question, {{userData.username}}?"
                          value = ''  
                          data-toggle="modal" 
                          data-target="#exampleModal" 
                          maxlength="120">
                </textarea>
                <p class="charactersCounter text-muted">Characters left: {{charactersLeft}}</p>
                <button type="button" class="btn btn-primary postButton" (click)="createPost(postArea)"> <strong>Post</strong></button>
              </div>

            </div>
          </div>


          <div class="card" *ngFor="let post of allPosts" >
           <div class="usernamePostSection"> 
             <div ngbDropdown>
                <a href="/profile/{{post.Author['_id']}}" class="profileLink "> {{post.Author['username']}}  </a>    
                <i class="bi bi-three-dots" ngbDropdownToggle ></i>  
                <div ngbDropdownMenu >
                  <a ngbDropdownItem (click)="deletePost(post)"> <i class="bi bi-trash-fill"></i> Delete </a>
                  <a ngbDropdownItem> <i class="bi bi-pencil-fill"></i> Edit </a>

                </div>
           </div>
          </div> 
            

            <div class="card-body">
              <p class="card-text">{{post.Content}}</p>
            </div>
            <span  *ngIf="isUser">
            <hr>
            <div class="postInteractionButtons">
              <div class="commentSection">
                <i class="bi bi-chat-left"></i> <span>Comments</span>
              </div>
              <div class="like">
                <i class="bi bi-hand-thumbs-up"></i>  <span>Like</span>
              </div>
              <div class="share">
                <i class="bi bi-share"></i>  <span>Share</span>
              </div>
            </div>
          </span>
          </div>


        </div>

    </body>
    
</html>